/* ESTILO PARA MENSAJES DE ALERT EN SISTEMA */
.alert-fixed {
    position: fixed;
    top: 20px; /* Ajusta la posición vertical */
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999; /* Asegura que esté sobre otros elementos */
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* Estilos adicionales para el atributo data-mdb-position */
[data-mdb-position="top-right"] {
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
}