html,
body {
  height: 100%;
}
textarea {
    resize: none;
}

.fix-padding {
  padding-top: 6px;
}

#table_results th{
  text-align: center;
}

.modal-body {
  max-height: 75vh;
  overflow-y: auto;
} 
